img {
    width: 500px;
}
body {
text-align: center;
  font-family: 'Orbitron', sans-serif;

  background-image: url(https://ts4.mm.bing.net/th?id=OIP.UCPN0R2Ce4S96opO09kR_wHaEK&pid=15.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;


}
#mute-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.screwdriver-icon {
  width: 50px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#mute-button:hover .screwdriver-icon {
  transform: rotate(20deg) scale(1.1);
}
a {
  color: #00ffcc;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
